<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            padding: 0;
            margin: 0;
            height: 100vh;
            width: 200vh;
        }
        button{
            position: absolute;
            top: 545px;
            left: 614px;
            border: 1px solid black;
            height: 36px;
            width: 265px;
            border-radius: 30px;
            background-color: rgb(65, 15, 65);
            color: white;
            font-weight: bolder;
            font-style: italic;
            font-size: large;
        }
    </style>
</head>
<body>
    <div>
        <img src="404error1.jpg" alt="">;
        <a href="/"><button>Go to home page</button>
    </div>
    </a>
</body>
</html>